*{
    background-color: #1e1e1e;
    color: #d3d3d3
}
#logotipo
{
    border: solid black;
    max-width: 150px;
    max-height: 150px;
    padding-left: 20px;
    padding-right: 20px;
    background-color:rgb(149, 56, 236) ;
    position:relative;
    right: 50px;
}

header{
    display:flex;
    justify-content: space-between;
    margin-right: 35%;
}
#search{
    width:300px;
    padding: 10px 15px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 0 4px 6px rgba(1, 1, 1, 1);
    font-size: 16px;
    height:9px;
    border: 5px solid rgb(10, 10, 10);
}
    

#button{
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    height: 40px;
    margin-left:0;
    position: relative;
    left:-7px;
    box-shadow: 0 4px 6px rgba(1, 1, 1, 1);
    border: 5px solid rgb(10, 10, 10);
}
    
nav > div:nth-child(2){
   padding: 10px;
    position:relative;
    left: 610px;
    display: flex;
    flex-direction: column;
    width: 214px;
    align-items: flex-start;
    border: solid rgb(149, 56, 236) 35px;
    background-color: rgb(149, 56, 236);
    border-radius: 40px;
    height: 150px;
    border-top: 5px;

}
#link_inicio{
    max-width: 145px;
    max-height: 150px;
}
#zamora
{
    height: 300px;
    width: 500px;
    position: relative;
    left: 400px;
}
.texto
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: solid black 1px;
}

.Articulo1>p{
    font-size: 15px;
    width:400px;
    position:relative;
    left: 450px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.Articulo2>p{
    font-size: 15px;
    width:400px;
    position:relative;
    left: 450px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.Articulo3>p{
    font-size: 15px;
    width:400px;
    position:relative;
    left: 450px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.Intereses{
    background-color: rgb(149, 56, 236);
}
#sobre_mi{
    position: relative;
    
}

#capacitacion{
    height: 300px;
    width: 300;
    position: relative;
    left: 350px;
    
}

#partido{
    height: 330px;
    width: 500px;
    position: relative;
    left: 398px;
}
.comentarios{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr;
}

.comentarios>input:first-child{
    grid-column: 2/3;
    grid-row: 1/4;
    border: white solid 1px;
}
.comentarios>input:last-child{
    grid-column: 2/3;
    grid-row: 4/5;
    width:80px;
    justify-self: end;
}